*
{
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header
{
  position: fixed;
  width: 100vw;
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .5);
  z-index: 1;
}

nav
{
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.menu
{
  width: 50px;
  height: 50px;
  background-image: url(images/menu.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu-content
{
  display: none;
  width: 50vw;
  position: absolute;
  top: 50px;
  right: 0px;
  box-shadow: 0px 0px 0px 100vh rgba(0,0,0,0.5);
}

.menu-content ul
{
  list-style-type: none;
}

.menu-content li
{
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, .5);
}

.menu-content li:hover
{
  background: rgba(0, 0, 250, 0.25);
}

.menu-content a
{
  text-decoration: none;
  color: black;
  padding: 5vh;
  display: block;
  border-bottom: 2px;
}

#menu-check
{
  height: 50px;
  width: 50px;
  opacity: 0;
}

#menu-check:checked ~ .menu-content
{
  display: block;
  background-color: white;
}

main
{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
  z-index: 0;
}

main a
{
  text-decoration: none;
  color: black;
}

.projet
{
  text-align: center;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .5);
  min-height: 200px;
  flex: 1;
  position: relative;
}

main a:nth-of-type(1) .projet
{
  background-color: white;
  z-index: 10;
}

main a:nth-of-type(2) .projet
{
  background: url(images/mexico.png) no-repeat center;
  background-size: cover;
  z-index: 9;
}

main a:nth-of-type(3) .projet
{
  background: url(images/#) no-repeat center;
  background-size: cover;
  z-index: 8;
}

main a:nth-of-type(4) .projet
{
  background: url(images/#) no-repeat center;
  background-size: cover;
  z-index: 7;
}

main a:nth-of-type(5) .projet
{
  background: url(images/#) no-repeat center;
  background-size: cover;
  z-index: 6;
}

main a:nth-of-type(6) .projet
{
  background: url(images/#) no-repeat center;
  background-size: cover;
  z-index: 5;
}
