*
{
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header
{
  text-align: center;
  padding: 20px;
  box-shadow: 0px 1px 10px grey;
  z-index: 2;
}

nav
{
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu
{
  width: 50px;
  height: 50px;
  background-image: url(images/menu.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu-content
{
  display: none;
  width: 100px;
  position: absolute;
  top: 50px;
  right: 0px;
}

.menu-content ul
{
  list-style-type: none;
}

.menu-content a
{
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
}

input#menu-check
{
  height: 50px;
  width: 50px;
  opacity: 0;
}

input#menu-check:checked ~ .menu-content
{
  display: block;
  background-color: grey;
}

.main
{
  display: flex;
  flex-direction: column;
}

.projet
{
  text-align: center;
  box-shadow:  0px -5px 0px white, 0px 1px 5px grey;
  width: 100vw;
  height: 25vh;
}

.projet:nth-of-type(1)
{
  grid-row: 1;
}

.projet:nth-of-type(2)
{
  grid-row: 2;
}
